<div class="panel panel-primary">
    <div class="panel-heading">
        {{pageTitle}}
    </div>
    <div class="panel-body"  >
        <div class="row" >
            <img src="./assets/images/logo.jpg" 
                 class="img-responsive center-block"
                 [style.width.px]='400' 
                 style="max-height:600px;padding-bottom:50px"/>
        </div>
        <div class="row"  >
            <div class="text-center">Developed by:</div>
            <h3 class="text-center">Aashish Kumar</h3>

            <div class="text-center">
                <a href="https://www.linkedin.com/in/aashish-kumar-bb011878">Linkedin</a>
            </div>
            <div class="text-center">
                <a href="aashishfullstack@gmail.com">aashishfullstack@gmail.com</a>
            </div>
        </div>
    </div>
</div>